# Project exclude paths
/common/target/
/.idea/$CACHE_FILE$
/.idea/.gitignore
/.idea/compiler.xml
/.idea/dataSources.xml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/jarRepositories.xml
/miracle.iml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/saveactions_settings.xml
/.idea/vcs.xml
/common/common.iml
/.idea/sonarlint/issuestore/5/a/5a61a88c81c5ed84239fd51000233e62a4b374a8
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/c/d/cdaf9397cc353f11bf3aad09eff24b718562d470
/.idea/checkstyle-idea.xml
/common/common.iml
/.idea/uiDesigner.xml
